:root {
--hover-color: rgba(191, 161, 129, 0.8);
}
html {
    background-color:#ebe8e9;
}

* {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    box-sizing: border-box;
}

li, a, button {
    font-weight: 100;
    font-size: 25px;
    text-decoration: none;
}

header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 30px 20px 0px;
}

.pointer {
    cursor: pointer;
}

.navbar-links {
    list-style: none;
    margin: 30px 0 0 0;
    padding: 0px;
}

.navbar-links li {
    display: inline-block;
    padding: 0px 20px;
    border-left: solid black 1px;
}

.navbar-links li a {
    transition: all 0.3s ease 0s;
    border: none;
    background-color: inherit;
}

.navbar-links a:hover {
    color:var(--hover-color);
}

.navbar-links span {
    font-weight: bold;
}

.standard-button {
    padding: 10px 25px;
    background-color: rgba(191, 161, 129, 1);
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    margin: 20px 0 0 0;
}

.standard-button:hover{
    background-color: var(--hover-color);
}

.status-cards {
    display: flex;
    justify-content:space-between;
    margin: 60px 20px 0px;
    gap: 20px;
}
.status-cards h1 {
    text-align: center;
}

.status-cards li {
    font-size: 20px;
    background-color: #fff;
    padding: 10px 10px;
    margin-bottom: 10px;
    word-wrap: break-word;
    transition: all 0.3s ease 0s;
}

.status-cards li:hover {
    background-color: rgb(252, 197, 135);
}

.status-cards > div {
    flex-direction: column;
    height: fit-content;
    width: 500px;
    border-radius: 5px;
}

.status-cards h1 {
    font-size: 1.4rem;
    font-weight: 700;
    padding: 1rem;
    background-color: inherit;
}

.status-cards ul {
    display: flex;
    flex-direction: column;
    align-content: start;
    padding: 0 0.6rem 0.5rem;
    list-style: none;
}

.status-cards-todo {

    background-color: rgb(117,70,74);
}

.status-cards-inprogress {
    background-color: rgba(170,124,122);
}

.status-cards-inreview {
    background-color: rgba(190,171,167);
}

.status-cards-done {
    background-color: rgba(232,219,212);
}

.window.details {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    padding: 20px 0px;
    transform: translate(-50%, -50%);
    background-color: white;
}

.window-header {
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.window-header .title {
    font-size: 1.6rem;
    font-weight: bold;
}

.window-header .close-button {
    border:none;
    background:none;
    font-size:1.6rem;
    font-weight: bold;
    transition: all 0.3s ease 0s;
}

.window-header .close-button:hover {
    background-color: var(--hover-color)
}

.window-body {
    font-size: 1.4rem;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
}

.window-body .field {
    padding: 10px 0px;
}
.window-body .submit-container {
    text-align: end;
    padding: 20px 0px;
}

.window-body .submit-container .submit-button {
    background-color: rgba(191, 161, 129, 1);
    padding: 10px;
    font-size: 1.4rem;
    transition: all 0.3s ease 0s;
    border: none;
}

.window-body .submit-container .cancel {
    background-color: transparent;
    padding: 10px;
    font-size: 1.4rem;
    transition: all 0.3s ease 0s;
    border: none;
}

.window-body .submit-container .submit-button:hover {
    background-color: var(--hover-color);
}

.window-body .submit-container .cancel:hover {
    background-color: rgba(191, 161, 129, 0.3);
}

.window-body .field .input {
    width: 100%;
    height: 40px;
    background-color: rgba(191, 161, 129, 0.1);
    border: 0.5px solid var(--hover-color);
    transition: all 0.3s ease 0s;
    font-size: large;

}

.window-body .field .task-description {
    width: 100%;
    height: 180px;
    background-color: rgba(191, 161, 129, 0.1);
    border: 0.5px solid var(--hover-color);
    transition: all 0.3s ease 0s;
    font-size: large;
    overflow-y: auto;
    resize:none;
}

.window-body .field .input:hover {
    background-color: rgba(191, 161, 129, 0.3);
}

.error {
    color: red;
}
.lock-icon {
    background-image: url("/images/lock.png");
    background-size: contain;
    height: 100px;
    width: 100px;
}

.required:after {
    content:"*";
    color: red;
}

.account-question {
    font-size: medium;
    padding: 10px 0px;
}

.account-question a {
    font-size: medium;
    color: rgba(191, 161, 129, 1);
}

.access-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}