<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <title>Project Planner</title>
</head>

<body>
<header>
    <nav>
        <ul class="navbar_links">
            <li class="logo">LOGO</li>
            <li><a href="">Home</a></li>
            <li><a href="/add-task">Add task</a></li>
        </ul>
    </nav>
    <a href=""><button>Sign in</button></a>
</header>
<div class="status-cards">
    <div class="task-list-todo">
        <h1 class="list-title-todo">To do</h1>
            <ul class="list-items-todo">
                <div th:each="task:${tasks}" th:if="${task.status} == 'To do'">
                    <a th:href="@{'/task-details/' + ${task.id}}">
                        <li th:text="${task.name}">
                        </li>
                    </a>
                </div>
            </ul>
    </div>
    <div class="task-list-inprogress">
        <h1 class="list-title-inprogress">In progress</h1>
        <ul class="list-items-inprogress">
            <div th:each="task:${tasks}" th:if="${task.status} == 'In progress'">
                <a th:href="@{'/task-details/' + ${task.id}}">
                    <li th:text="${task.name}">
                    </li>
                </a>
            </div>
        </ul>
    </div>
    <div class="task-list-inreview">
        <h1 class="list-title-inreview">In review</h1>
        <ul class="list-items-inreview">
            <div th:each="task:${tasks}" th:if="${task.status} == 'In review'">
                <a th:href="@{'/task-details/' + ${task.id}}">
                    <li th:text="${task.name}">
                    </li>
                </a>
            </div>
        </ul>
    </div>
    <div class="task-list-done">
        <h1 class="list-title-done">Done</h1>
        <ul class="list-items-done">
            <div th:each="task:${tasks}" th:if="${task.status} == 'Done'">
                <a th:href="@{'/task-details/' + ${task.id}}">
                    <li th:text="${task.name}">
                    </li>
                </a>
            </div>
        </ul>
    </div>
</div>
</body>

</html>