<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <title>Project Planner</title>

</head>
<body>

<form action="/registered" method="post">
    <div class="task-window details">
        <div class="task-header">
            <div class="title">Registration</div>
            <a href="/" class="close-button pointer">&times;</a>
        </div>
        <div class="task-body">
            <input type="hidden" name="id" th:value="${registrationDto.id}"/>
            <div th:text="${fieldsNotFilledMessage}" class="error">error</div>
            <div th:text="${registrationErrorMessage}" class="error">error</div>
            <div class="field">
                <label for="name" class="required">User name</label>
                <div>
                    <input th:field="${registrationDto.name}" id="name" class="input pointer">
                </div>
            </div>
            <div class="field">
                <label for="email" class="required">Email</label>
                <div>
                    <input th:field="${registrationDto.email}" id="email" class="input pointer">
                </div>
            </div>
            <div class="field">
                <label for="password" class="required">Password</label>
                <div>
                    <input th:field="${registrationDto.password}" type="password" id="password" class="input pointer">
                </div>
            </div>
            <div class="field">
                <label for="passwordRepeated" class="required">Repeat password</label>
                <div>
                    <input th:field="${registrationDto.passwordRepeated}" type="password" id="passwordRepeated" class="input pointer">
                </div>
            </div>
            <div class="submit-container">
                <a href="/" class="cancel pointer">Cancel</a>
                <input class="submit-button pointer" type="submit" value="Register">
            </div>
        </div>
    </div>
</form>

</body>
</html>