<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <title>Project Planner</title>
</head>

<body>

<div class="task-window details">
    <div class="task-header">
        <div th:text="${taskToView.name}" class="title"></div>
        <a href="/" class="close-button pointer">&times;</a>
    </div>
    <div class="task-body">
        <form action="/" method="post">
            <div class="field">
                <label>Status</label>
            <th:block th:switch="${taskToView.status}">
                <div th:case="'toDo'">
                    <div>To do</div>
                </div>
                <div th:case="'inProgress'">
                    <div>In progress</div>
                </div>
                <div th:case="'inReview'">
                    <div>In review</div>
                </div>
                <div th:case="'done'">
                    <div>Done</div>
                </div>
            </th:block>
            </div>
            <div class="field">
                <label>Description</label>
<!--                rozbudowac ze gdy nie jest puste wyswietlic, ale jak jest, to wtedy kursywą notka no description added-->
                <div th:text="${taskToView.description != ''}? ${taskToView.description}: 'No description so far'"></div>
            </div>
            <div class="field">
                <label>Start date</label>
                <div th:text="${taskToView.startDate}"></div>
            </div>
            <div class="field">
<!--                wersja view od razu pod edycje-->
                <label for="deadline">Deadline</label>
                <div>
                    <input th:field="${taskToView.deadline}" type="date" id="deadline" class="input pointer">
                </div>
            </div>

        </form>
    </div>

</div>
</body>
</html>