<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <title>Project Planner</title>
</head>

<body>
<form th:object="${task}" th:action="@{/task/}" method="post">
    <div class="window details">
        <div class="window-header">
            <div th:if="${task.id != null}" class="title">Edit task</div>
            <div th:if="${task.id == null}" class="title">Add task</div>
            <a href="/" class="close-button pointer">&times;</a>
        </div>
        <div class="window-body">
            <input type="hidden" name="id" th:value="${task.id}"/>
            <input type="hidden" name="startDate" th:value="${task.startDate}"/>
            <div class="field">
                <label for="name" class="required">Task name</label>
                <div>
                    <input th:field="${task.name}" id="name" class="input pointer">
                    <div th:text="${fieldsNotFilledMessage}" class="error">error</div>
                </div>
            </div>
            <div class="field">
                <label for="status">Status</label>
                <div>
                    <select th:field="${task.status}" class="input pointer" id="status" name="status">
                        <option value="toDo">To do</option>
                        <option value="inReview">In review</option>
                        <option value="inProgress">In progress</option>
                        <option value="done">Done</option>
                    </select>
                </div>
            </div>
            <div class="field">
                <label for="description">Description</label>
                <div>
                    <textarea th:field="${task.description}" id="description" class="task-description"></textarea>
                </div>
            </div>
            <div class="field">
                <label for="deadline">Deadline</label>
                <div>
                    <input th:field="${task.deadline}" type="date" id="deadline" class="input pointer">
                </div>
                <div th:text="${invalidDateMessage}" class="error">error</div>
            </div>
            <div class="submit-container">
                <a href="/" class="cancel pointer">Cancel</a>
                <input class="submit-button pointer" type="submit" value="Save">
            </div>

        </div>
    </div>
</form>
</body>
</html>